{% extends 'songs/index.html' %}

{% block content %}
  {% for song in songs %}


    <div class="container">
      <div class="row">
         <div class="col s12">
           <div class="card">
             <!-- <div class="card-image"> -->
               <!-- <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"> -->
               <!-- <span class="card-title">{{song.name}}</span> -->
               <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
             <!-- </div> -->
             <div class="card-content">
                 <p>
                   {{song.name}}
                 </p>
                 <p>
                   {{song.id}}
                 </p>
             </div>
           </div>
         </div>
       </div>
    </div>



  {% endfor %}
{% endblock %}
