body {
  background-color: white;
}

div h1 {
  color: #0033A0;
}

nav {
  background-color: #0033A0;
}

.card-image {
	display: flex;
	height: 400px;
	overflow: hidden;
	background-color: #000;

}

.card-image img {
	margin: auto;
}

.card-content {
	height: 120px;
}

br {
	display: block;
	content: "";
	margin-top: 2;
}

a{
	color: #0033A0;
}
a.hover{
	color: #ADD8E6;
}
p {
	color: #0033A0;
}

