{% extends "blog/base.html" %}

{% block content %}
	<div class="container">
		<h1 style=color:#0033A0>About</h1>

		<ul class="collection with-header">
			<li class="collection-header"><h4>Creators</h4></li>
	    <li class="collection-item avatar">
	      <img src="https://avatars1.githubusercontent.com/u/17031324?s=460&v=4" alt="" class="circle">
	      <span class="title">
					<a href="https://github.com/jordangeorge">
						Jordan George
					</a>
				</span>
	    </li>
			<li class="collection-item avatar">
	      <img src="https://avatars0.githubusercontent.com/u/47227275?s=60&v=4" alt="" class="circle">
	      <span class="title">
					<a href="https://github.com/Avha224">
						Alex Hamlin
					</a>
				</span>
	    </li>
	    <li class="collection-item avatar">
	      <img src="https://avatars0.githubusercontent.com/u/29581060?s=60&v=4" alt="" class="circle">
	      <span class="title">
					<a href="https://github.com/hain222">
						Harrison Inocencio
					</a>
				</span>
	    </li>
	    <li class="collection-item avatar">
	      <img src="https://avatars1.githubusercontent.com/u/17031324?s=460&v=4" alt="" class="circle">
	      <span class="title">
					<a href="https://github.com/brycekushner">
						Bryce Kushner
					</a>
				</span>
	    </li>
	  </ul>

		<p>
			Our project can be found on <a href="https://github.com/hain222/CS498GroupRepo">GitHub</a>.
		</p>
	</div>
{% endblock content %}
