{% extends "blog/base.html" %}

{% block content %}
<div class="container">
  <h1>{{ album.albumname }}</h1>
  <div class="row">
    <p>
      Image: {{ album.image }}
      <br>
      Type: {{ album.type }}
      <br>
      Release Date: {{ album.rel_date }}
      <br>
      Amount of tracks: {{ album.num_tracks }}
    </p>
    <table>
      <h4>songs</h4>
      <tr>
        <th>id</th>
        <th>title</th>
      </tr>
      {% for song in songs %}
      <tr>
        <td>{{ song.id }}</td>
        <td>
          <a href="/songs/{{ song.id }}">
            {{ song.name }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
