{% extends "blog/base.html" %}

{% block content %}
<div class="container">
	<h1>{{ artist.name }}</h1>
	<div class="row">
		<div class="col s12 m6">
			<div class="">
				<h4>Songs</h4>
				<table>
					{% for song in songs %}
					{% for as in artist_song_ids %}
					{% if as.song_id == song.id %}
					<tr>
						<td>
							<a href="/songs/{{ song.id }}">
								{{ song.name }}
							</a>
						</td>
					</tr>
					{% endif %}
					{% endfor %}
					<br>
					{% endfor %}
				</table>
			</div>
			<div class="">
				<h4>Albums</h4>
				<table>
					{% for album in albums %}
					{% for as in artist_album_ids %}
					{% if as.album_id == album.id %}
					<tr>
						<td>
							<a href="/albums/{{ album.id }}">
								{{ album.name }}
							</a>
						</td>
					</tr>
					{% endif %}
					{% endfor %}
					<br>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="col s12 m6">
				<img src="{{ artist.image }}" alt="" width="100%">
				<a href="{{ artist.link }}">Spotify link</a>
		</div>
	</div>
</div>
{% endblock content %}
