{% extends "blog/base.html" %}

{% block content %}
<div class="container">
	<h1 style=color:#0033A0>US Top 50</h1>
	<div class="row">
		{% for song in songs %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
					{% for key, value in songalbumdict.items %}
						{% if song.id == key %}
							{% for album in albums %}
								{% if value == album.id %}
									<img src="{{ album.image }}">
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
          <span class="card-title">
						<a href="/songs/{{ song.id }}">
							{{ song.name }}
						</a>
					</span>
        </div>
        <div class="card-content">
          <p>
						{% for key, value in songartistdict.items %}
							{% if song.id == key %}
								{% for v in value %}
									{% for a in artists %}
										{% if v == a.id %}
											<a href="/artists/{{ a.id }}">
												{{ a.name }}
											</a>
										{% endif %}
									{% endfor %}
									<br>
								{% endfor %}
							{% endif %}
						{% endfor %}
					</p>
        </div>
        <div class="card-action">
          <a href="{{ song.link }}">Show on Spotify</a>
        </div>
      </div>
    </div>
		{% endfor %}
  </div>
</div>
{% endblock content %}
